@media screen and (min-width:1025px) and (max-width:1440px) {

    /* ------------------ Nav Bar ----------------- */
    .navBar, 
    .cover,
    .change_your_habit-section, 
    .run_an_extra_miles ,
    .training_and_exercise,
    .bmi_calculator_section {
        margin-left: 1.875rem;
        margin-right: 1.875rem;
    }
    /* ----------- Cover -------------- */
    .cover {
        grid-template-columns: 2fr 1fr;
    }
    
    .cvr-item_1 {
        width: 100%;
    }
    
    
    .cvr-item_2 {
        width: 100%;
        margin: 0 auto;
    }
    /* ----------- Cover -------------- */

    /* ------------------ Change your habit ----------------- */
    .change_your_havit-content {
        gap: 2.5rem;
        margin-top: 2rem;
        padding: 0 1rem;
    }
    /* ------------------ Change your habit ----------------- */
    /* ------------------ Run an Extra Mile Easily ----------------- */
    .image_run_an_extra_mile {
        background-position: -26rem -7.5rem;
    }
    /* ------------------ Run an Extra Mile Easily ----------------- */
    /* ------------------ Training and Exercise ----------------- */
    .content_title_training_and_exercise {
        width: 60%;
    }
    /* ------------------ Training and Exercise ----------------- */
}