@media screen and (min-width:1025px) and (max-width:1440px) {

    /* ------------------ Nav Bar ----------------- */
    .navBar, .cover {
        margin-left: 1.875rem;
        margin-right: 1.875rem;
    }

    .cover {
        grid-template-columns: 2fr 1fr;
    }

    .cvr-item_1 {
        width: 100%;
    }


    .cvr-item_2 {
        width: 100%;
        margin: 0 auto;
    }

    /* ------------------ Nav Bar ----------------- */
}