@media screen and (min-width:993px) and (max-width:1024px) {

    /* ------------------ Nav Bar ----------------- */
    .navBar {
        padding: 3.25rem 0;
        margin-left: 1.875rem;
        margin-right: 1.875rem;
    }

    /* ------------------ Nav Bar ----------------- */

    /* ------------------ Cover ----------------- */
    .cover {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .cvr-item_1 {
        width: 100%;
    }

    .cvr-item_2 {
        width: 70%;
        margin: 0 auto;
    }

    /* ------------------ Cover ----------------- */
    /* ------------------ Change Your Habit ----------------- */
    .change_your_havit-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .change_your_habit-title {
        width: 60%;
    }

    /* ------------------ Change Your Habit ----------------- */
    /* ------------------ Run an Extra Mile Easily ----------------- */
    .run_an_extra_miles,
    .training_and_exercise,
    .bmi_calculator_section,
    .meet_our_team {
        margin-left: 1.875rem;
        margin-right: 1.875rem;
    }

    .image_run_an_extra_mile {
        background-position: -28rem -6.5rem;
        background-size: 55rem;
    }
    /* ------------------ Run an Extra Mile Easily ----------------- */
    /* ------------------ Training and Exercise ----------------- */
    .content_title_training_and_exercise {
        width: 90%;
    }
    .exercise_1 {
        width: 25%;
    }
    .exercise_2 {
        width: 45%;
    }
    .exercise_3 {
        width: 30%;
    }
    /* ------------------ Training and Exercise ----------------- */
}