@media screen and (min-width:577px) and (max-width:992px) {

    /* ----------------- Nav Bar ------------------ */
    .navBar {
        padding: 3.25rem 0;
        margin-left: 1.875rem;
        margin-right: 1.875rem;
    }

    .nav-item {
        gap: 0.3rem;
        padding: .4rem 0.1rem;
    }

    .nav-link a {
        font-size: 1rem;
        padding: .3rem 1rem;
    }

    /* ----------------- Nav Bar ------------------ */

    /* ----------------- Cover ------------------ */
    .cover {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    .cvr-item_1 {
        width: 100%;
    }

    .cvr-item_2 {
        width: 60%;
        margin: 0 auto;
    }

    /* ----------------- Cover ------------------ */
    /* ----------------- Change your Habit ------------------ */
    .change_your_havit-content {
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .change_your_habit-title {
        width: 70%;
    }

    /* ----------------- Change your Habit ------------------ */
    /* ------------------ Run an Extra Mile Easily ----------------- */
    .run_an_extra_miles {
        margin-left: 1.875rem;
        margin-right: 1.875rem;
        grid-template-columns: 2fr 1fr;
        padding: 2rem;
    }

    .content_title_run_an_extra_miles {
        width: 80%;
    }

    .image_run_an_extra_mile {
        background-position: -32rem -5rem;
        background-size: 60rem;
    }
    /* ------------------ Run an Extra Mile Easily ----------------- */
    /* ------------------ Training and Exercise ----------------- */
    .training_and_exercise,
    .bmi_calculator_section,
    .bmi_calculator_title,
    .meet_our_team,
    .footer_content,
    .copyright_part {
        margin-left: 1.875rem;
        margin-right: 1.875rem;
    }
    .content_title_training_and_exercise {
        width: 90%;
    }
    .exercise_1 {
        width: 30%;
    }
    .exercise_2 {
        width: 40%;
    }
    .exercise_3 {
        width: 30%;
    }
    .exercise_4 {
        justify-content: start;
        align-items: end;
    }
    /* ------------------ Training and Exercise ----------------- */
    /* ------------------ BMI Calculator ----------------- */
    .bmi_calculator_title_content {
        margin: 5.5rem 0;
        width: 90%;
    }
    .bmi_calculator_section {
        flex-direction: column;
    }
    /* ------------------ BMI Calculator ----------------- */
    /* ------------------ Meet Our Team ----------------- */
    .meet_out_team-title {
        width: 90%;
    }
    /* ------------------ Meet Our Team ----------------- */
    /* ------------------ Footer ----------------- */
    .footer,
    .meet-our_team-card {
        background: #222222;
    }
    .footer_content {
        flex-direction: column;
        /* border: 1px solid white; */
        align-items: flex-start;
    }
    .about_part {
        width: 70%;
        margin-bottom: 6rem;
    }
    .about_part_links {
        width: 70%;
    }
    .about_part_links {
        justify-content: space-between;
    }
    .about_part p{
        width: 90%;
    }
    /* ------------------ Footer ----------------- */
}