@media screen and (max-width:576px) {

    /* ---------------- Nav Bar----------------- */
    .navBar {
        align-items: flex-start;
        position: relative;
        margin-left: 1.875rem;
        margin-right: 1.875rem;
        padding-bottom: 5rem;
    }

    .nav-item {
        display: none;
        position: relative;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 1rem 0 auto auto;
        top: 3.5rem;
        border-radius: 1.8rem;
    }

    .menu {
        display: block;
        position: absolute;
        top: 4.5rem;
        right: 0;
    }

    /* ---------------- Nav Bar----------------- */

    /* ---------------- Cover ----------------- */
    .btn {
        font-size: .8rem;
        padding: .5rem 1rem;
    }

    .cvr-item_1-btn {
        width: 100%;
        justify-content: space-evenly;
    }

    .cover {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: -5rem;
    }

    .cvr-item {
        padding: 5rem 0;
    }

    .cvr-item_1 {
        width: 100%;
        margin: 0 0 2rem 0;
    }

    .cvr-item_2 {
        width: 100%;
        margin: 0 auto;
        background-position: top;
        margin-top: -3rem;
        /* background-size: cover; */
    }

    .cvr-item_1 h1 {
        font-size: 2.5rem;
    }

    .cvr-item_1 p {
        font-size: 1rem;
    }

    .cvr-itm2-card h1 {
        font-size: 1.5rem;
        font-weight: 900;
        color: var(--text_1);
    }

    .cvr-itm2-card h5 {
        font-size: .8rem;
        color: var(--text_3);
        font-weight: 400;
    }

    .cvr-itm2-card_1 {
        top: 5rem;
        right: 0;
    }

    .blur {
        height: 5rem;
        width: 8rem;
    }

    .cvr-itm2-card_1 .a1 {
        top: .8rem;
        left: 1.2rem;
    }

    .blur_2 {
        width: 9rem;
    }

    .cvr-itm2-card_2 {
        left: 0;
        bottom: 6rem;
    }

    .cvr-itm2-card_2_div .a2 {
        gap: .5rem;
        top: .8rem;
        left: 1rem;
    }

    /* ---------------- Cover ----------------- */
    /* ---------------- Change your Habit ----------------- */
    .change_your_havit-content {
        grid-template-columns: repeat(1, 1fr);
        width: 85%;
        gap: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    .change_your_habit-title {
        width: 85%;
    }

    .content-title h2 {
        color: var(--text_1);
        font-weight: 900;
        font-size: 2rem;
    }

    .content-title p {
        color: var(--text_3);
        font-size: .9rem;
        line-height: 1.5rem;
        margin: 1rem 0;
    }

    .card img {
        margin: 1.5rem 0;
    }

    /* ---------------- Change your Habit ----------------- */
    /* ------------------ Run an Extra Mile Easily ----------------- */
    .run_an_extra_miles {
        margin-left: 1rem;
        margin-right: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1.9rem;
        padding: 2rem;
    }

    .content_title_run_an_extra_miles {
        width: 100%;
        margin: 0;
    }

    .run_an_extra_mile_btn {
        font-size: 1rem;
        font-weight: 700;
        padding: 1rem 2.5rem;
        width: 100%;

    }

    .image_run_an_extra_mile {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: -16.5rem -4rem;
        background-size: 40rem;
    }

    /* ------------------ Run an Extra Mile Easily ----------------- */
    /* ------------------ Training and Exercise ----------------- */
    .training_and_exercise {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .exercise_1 {
        width: 55%;
        background-position: center;
    }
    .exercise_2 {
        width: 45%;
    }
    .exercise_4 {
        width: 45%;
    }
    .exercise_5 {
        width: 55%;
    }

    .exercise_3, .exercise_6 {
        display: none;
    }
    /* ------------------ Training and Exercise ----------------- */
}