/* ----------------------------------- Fonts ---------------------------------- */
/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* Dancing Script */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
/* ----------------------------------- Fonts ---------------------------------- */

/* ----------------------------------- Universal Selector ---------------------------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inter;
}
/* ----------------------------------- Universal Selector ---------------------------------- */