/* ----------------------------------- Fonts ---------------------------------- */
/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* Dancing Script */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
/* ----------------------------------- Fonts ---------------------------------- */

/* ----------------------------------- Universal Selector ---------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inter;
}

/* ----------------------------------- Universal Selector ---------------------------------- */
/* ----------------------------------- Common styles ---------------------------------- */
.max-width {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    font-size: 1.125rem;
    color: var(--text_1);
    font-weight: 700;
    background-color: var(--orange_1);
    border: none;
    padding: 1rem 2.5rem;
    border-radius: 2.625rem;
    cursor: pointer;
}

.content-title {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.content-title h2 {
    color: var(--text_1);
    font-weight: 900;
    font-size: 3rem;
}

.content-title p {
    color: var(--text_2);
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1rem 0;
}

/* ----------------------------------- Common styles ---------------------------------- */
/* ----------------------------------- Root variables ---------------------------------- */
:root {
    --orange_1: #e6533c;
    --text_1: #ffffff;
    --text_2: #ffffff89;
    --text_3: #ffffff77;
    --text_4: #ffffff22;
    --text_5: #ffffff11;
    --text_6: #000000;
    --background_1: #222222;
    --background_2: #22222277;
    --background_3: #2a2a2a;
    --filter_1: #06ffd277;
    --filter_2: #ff000043;
    --filter_3: #00000077;
    --filter_4: #00000077;
    --filter_5: #42ff0043;
    --filter_6: #0047ff43;
}

/* ----------------------------------- Root variables ---------------------------------- */
body {
    background: #000000;
}
/* ----------------------------------- Header ---------------------------------- */
.header {
    background: linear-gradient(0deg, #000, #ffffff01, #ffffff02, #111),
        var(--background_1);
    overflow-x: hidden;
}

/* ------------ Nav Bar ----------- */
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 3.5625rem 0;
    color: var(--text_1);

    /* border: 1px solid; */
}

.navBar h2 {
    color: var(--orange_1);
    font-size: 2.375rem;
    font-style: italic;
    font-weight: 900;
}

.nav-item {
    display: flex;
    gap: 2.9375rem;
    border: 1px solid var(--text_4);
    border-radius: 2.875rem;
    padding: .6rem 0.1rem;
}

.nav-link {
    list-style: none;
}

.nav-link a {
    font-size: 1.125rem;
    text-decoration: none;
    color: var(--text_1);
    /* background-color: var(--orange_1); */
    border-radius: 2.875rem;
    padding: .5rem 1.5rem;
}

.nav-link a:hover {
    text-decoration: underline;
}

.home {
    background-color: var(--orange_1);
}

.menu {
    display: none;
}

/* ------------ Nav Bar ----------- */
/* ------------ Cover ----------- */
.cover {
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: var(--text_1);
}

.cvr-item_1 {
    margin: 5rem 10rem 5rem 0;
    width: 70%;
}

.cvr-item_1 h1 {
    font-size: 4.875rem;
    font-weight: 900;
    color: var(--text_1)
}

.cvr-item_1>h1 span {
    font-family: "Dancing Script";
}

.cvr-item_1 p {
    font-size: 1rem;
    color: var(--text_3);
    line-height: 1.5rem;
    margin: 1.75rem 0;
}

.cvr-item_1-btn {
    display: flex;
    gap: 1.5rem;
}

.btn_1 {
    background-color: #222222;
    border: 1px solid var(--text_1);
}

.cvr-item_2 {
    background: url("../images/Images 2.png");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.blur {
    background: var(--text_5);
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    height: 7rem;
    width: 12.0625rem;
    border-radius: .75rem;
    border: 1px solid var(--text_5);
}

.blur_2 {
    width: 12.875rem;
}

.vr-item_2 {
    position: relative;
}

.cvr-itm2-card_1 {
    position: absolute;
    top: 7.8125rem;
    right: 0;
}

.triangle {
    position: absolute;
    top: 17rem;
    left: -3.75rem;
}

.cvr-itm2-card_2 {
    position: absolute;
    left: -5rem;
    bottom: 3.9375rem;
}

.cvr-itm2-card h1 {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--text_1);
}

.cvr-itm2-card h5 {
    font-size: 1rem;
    color: var(--text_3);
    font-weight: 400;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 0.6rem solid transparent;
    border-left: 1.25rem solid var(--text_1);
    border-bottom: 0.6rem solid transparent;
}


.cvr-itm2-card_1 .a1 {
    position: absolute;
    top: 1.2rem;
    left: 1.15rem;
}

.cirlce {
    height: 2.5rem;
    width: 2.5rem;
    background: var(--orange_1);
    border-radius: 50%;
}

.cvr-itm2-card_2_div {
    position: relative;
}

.cvr-itm2-card_2_div .a2 {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    top: 1.2rem;
    left: 1rem;
}

/* ------------ Cover ----------- */

/* ----------------------------------- Header ---------------------------------- */
/* ----------------------------------- Main ---------------------------------- */
.main {
    background: black;
}

/* --------------- Change Your Habit Section --------- */
.change_your_habit-section {
    background: var(--text_6);
    padding: 6.25rem 0;
}

.change_your_havit-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3.5rem;
    margin-top: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card img {
    border: 4px solid var(--text_4);
    border-radius: 50%;
    margin: 2.5rem 0;
}

.card h3 {
    font-size: 1.1rem;
    color: var(--text_1);
    font-weight: 600;
}

.card p {
    color: var(--text_3);
    line-height: 1.5rem;
    margin-top: .5rem;
    font-size: .9rem;
}

/* --------------- Change Your Habit Section --------- */
/* --------------- Run an Extra Mile Section --------- */
.run_an_extra_miles {
    background: var(--background_1);
    border-radius: 1.125rem;
    padding: 3rem;
    margin-top: 3.125rem;
    display: grid;
    grid-template-columns: 3fr 1fr;

    /* border: 1px solid #fff; */
}

.content_title_run_an_extra_miles {
    text-align: left;
    margin: auto 1.5rem;
    width: 60%;
}

.run_an_extra_mile_btn {
    margin-top: 2.125rem;
}

.image_run_an_extra_mile {
    background: url("../images/run.jpg");
    background-repeat: no-repeat;
    background-position: -24.5rem -7.5rem;
    border-radius: 1.125rem;
    background-size: 55rem;
}

/* --------------- Run an Extra Mile Section --------- */
/* --------------- Training and Exercise Section --------- */
.training_and_exercise {
    margin-top: 5.5rem;
}

.content_title_training_and_exercise {
    margin: 3.125rem 0 0 0;
    text-align: left;
}

.card_training_and_exercise_1,
.card_training_and_exercise_2 {
    display: flex;
    flex-direction: row;

    /* border: 5px solid #fff; */
}

.image_training_and_exercise {
    height: 15.625rem;
    display: flex;

    /* border: 5px solid red; */
}

.image_training_and_exercise p {
    margin: 1.4375rem 2.125rem;
    color: var(--text_1);
    font-size: 1rem;
    line-height: 1.5rem;
}

.exercise_1 {
    background: linear-gradient(0deg, var(--filter_1), var(--filter_1)),
        url("../images/exercise1.jpg");
    width: 20%;

    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    justify-content: start;
    align-items: end;
}

.exercise_1 p {
    color: var(--text_6);
}

.exercise_2 {
    background: linear-gradient(0deg, var(--filter_2), var(--filter_2)),
        url("../images/exercise2.png");
    grid-area: exercise_2;
    width: 50%;

    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.exercise_3 {
    background: linear-gradient(0deg, var(--filter_3), var(--filter_3)),
        url("../images/exercise3.png");
    grid-area: exercise_3;
    width: 30%;

    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    justify-content: start;
    align-items: end;
}

.exercise_4 {
    background: linear-gradient(0deg, var(--filter_4), var(--filter_4)),
        url("../images/exercise4.png");
    grid-area: exercise_4;
    width: 35%;

    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    justify-content: end;
    align-items: start;
}

.exercise_5 {
    background: linear-gradient(0deg, var(--filter_5), var(--filter_5)),
        url("../images/exercise5.jpg");
    grid-area: exercise_5;
    width: 25%;

    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    justify-content: start;
    align-items: end;
}

.exercise_6 {
    background: linear-gradient(0deg, var(--filter_6), var(--filter_6)),
        url("../images/exercise6.jpg");
    grid-area: exercise_6;
    width: 40%;

    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    justify-content: start;
    align-items: end;
}

/* --------------- Training and Exercise Section --------- */
/* --------------- BMI Calculator Section --------- */
.bmi_calculator {
    background: var(--background_1);
    padding: 5rem 0;
}

.bmi_calculator_section {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
}

.bmi_calculator_title_content {
    text-align: left;
    margin: 5.5rem auto;
}


.bmi_calculator_chart {
    color: var(--text_1);
}


.bmi_calculator_chart h3 {
    margin-bottom: 3.25rem;
    font-size: 1.75rem;
}

table,
th,
td {
    border: 1px solid var(--text_4);
    color: var(--text_3);
    border-collapse: collapse;
    text-align: left;
}

table th {
    color: var(--text_1);
    font-weight: 400;
}

table td,
th {
    padding-left: 1rem;
}

table {
    height: 13.5rem;
    width: 19.375rem;
}

.calculate_your_bmi h3 {
    font-size: 1.75rem;
    color: var(--text_1);
}

.calculate_your_bmi p {
    color: var(--text_2);
    line-height: 1.5rem;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.calculator-content_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.75rem;
    margin: 0.75rem 0;
}

.calculator-content_1 input {
    color: var(--text_3);
}

.calculator-content_1 input::placeholder {
    font-size: 1rem;
    color: var(--text_3);
}

/* Chrome, Safari, Edge, Opera */
.calculator-content_1 input::-webkit-outer-spin-button,
.calculator-content_1 input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.calculator-content_1 .item,
.activity {
    padding: 0.75rem 1.25rem;
    border-radius: .5rem;
    background-color: var(--text_4);
    border: none;
    outline: none;
    color: var(--text_3);
}

.sex {
    background-color: var(--text_4);
    display: flex;
    justify-content: space-between;
}

.activity {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.list {
    background: var(--background_1);
    color: var(--text_2);
    font-size: 1rem;
}

#sex,
#activity {
    background: transparent;
    outline: none;
    border: none;
    color: var(--text_3);
    width: 50%;
    cursor: pointer;
}

#reset {
    display: none;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 1rem 3.5rem;
    border-radius: 2.625rem;
    cursor: pointer;
    color: var(--text_2);
    background: var(--background_1);
    border: 1px solid var(--text_4);
    margin-top: 1.5rem;
}

.calculator_btn {
    margin-top: 1.5rem;
}

#result, #motivation {
    display: none;
    line-height: 1.5rem;
    margin: .5rem 0;
}

.item:focus {
    box-shadow: 1px 1px 3px 0 var(--text_2);
}

/* --------------- BMI Calculator Section --------- */
/* --------------- Meet Our Team Section --------- */
.meet_our_team {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
}

.meet_out_team-title {
    margin-bottom: 3.625rem;
}

.meet-our_team-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.125rem;
    background: var(--background_3);
    padding: 1.25rem;
    border-radius: 1.125rem;
}

.team_card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border-radius: 1.125rem;
    height: 17rem;
}

.card_text {
    margin: 1rem 1.125rem;
    text-align: left;
}

.card_text h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text_1);
}

.card_text p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text_2);
    margin: .5rem 0;
}

.card_1 {
    background: url("../images/trainer1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.card_2 {
    background: url("../images/trainer2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.card_3 {
    background: url("../images/trainer3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.card_4 {
    background: url("../images/trainer4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.card_5 {
    background: url("../images/trainer5.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.card_6 {
    background: url("../images/trainer6.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

/* --------------- Meet Our Team Section --------- */
/* ----------------------------------- Main ---------------------------------- */
/* ----------------------------------- Footer ---------------------------------- */
.footer {
    background: var(--background_3);
    padding-top: 4.125rem;
    padding-bottom: 2.1875rem;
}

.footer_content {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4.375rem;
}

.about_part {
    width: 50%;
}

.about_part h1 {
    font-size: 4.375rem;
    font-weight: 800;
    color: var(--orange_1);
    font-style: italic;
    margin-bottom: 1.25rem;
}

.about_part p,
.copyright_part p {
    color: var(--text_2);
    line-height: 1.5rem;
}

.about_part p{
    width: 70%;
}

.about_part_links {
    width: 50%;
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
}

.get_started_part {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.get_started_part h3 {
    color: var(--text_1);
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

.get_started_part a {
    font-size: 1.4375rem;
    text-decoration: none;
    color: var(--text_2);
}

.get_started_part a:hover {
    text-decoration: underline;
}

.copyright_part {
    text-align: center;
}

.hr {
    border: 1px solid var(--text_4);
    margin-bottom: 2.25rem;
}

/* ----------------------------------- Footer ---------------------------------- */